<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/fragments :: head">
</head>
<body>

	<header th:replace="layout/fragments :: header"></header>

	<div class="container" id="main-container">
		<div class="card bg-light">
			<div class="card-header" th:text="${encabezado}">[--]</div>
			<div class="card-body">
				<form method="post" th:action="@{/cliente}" th:object="${cliente}"
					enctype="multipart/form-data">
					<input type="hidden" th:field="*{id}" />
					<div class="form-group row">
						<label class="col-sm-2 col-form-label" for="nombres">Nombres</label>
						<div class="col-sm-5">
							<input type="text" th:field="*{nombres}" class="form-control"
								id="nombres" placeholder="Nombres" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('nombres')}" th:errors="*{nombres}"></small>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label" for="p_apellido">Primer
							Apellido</label>
						<div class="col-sm-5">
							<input type="text" th:field="*{p_apellido}" class="form-control"
								id="p-apellido" placeholder="Primer Apellido" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('p_apellido')}"
								th:errors="*{p_apellido}"></small>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label" for="s_apellido">Segundo
							Apellido</label>
						<div class="col-sm-5">
							<input type="text" th:field="*{s_apellido}" class="form-control"
								id="s-apellido" placeholder="Segundo Apellido" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('s_apellido')}"
								th:errors="*{s_apellido}"></small>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label" for="correo">E-Mail</label>
						<div class="col-sm-5">
							<input type="text" th:field="*{correo}" class="form-control"
								id="email" placeholder="Correo" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('correo')}" th:errors="*{correo}"></small>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label" for="fecha">Fecha</label>
						<div class="col-sm-3">
							<input type="text" th:field="*{fecha_nacimiento}"
								class="form-control" id="fecha-nacicmiento"
								placeholder="Fecha Nacimiento" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('fecha_nacimiento')}"
								th:errors="*{fecha_nacimiento}"></small>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label" for="fecha">Foto</label>
						<div class="col-sm-5">
							<input type="file" name="file" class="form-control"
								id="file" />
							<input type="hidden" th:field="*{foto}" />
						</div>
					</div>
					<div>
						<button type="submit" class="btn btn-dark" th:text="${boton}">[--]</button>
					</div>
				</form>
			</div>
		</div>
	</div>


	<footer th:replace="layout/fragments :: footer"></footer>
</body>
</html>